include README.rst
include LICENSE.txt
include setup.cfg
include setup.py
include PyAbridge/ABridgeAdapter.py
include PyAbridge/__init__.py
include PyAbridge/_ABridgeAdapter.so
exclude PyAbridge/test*.py
